{% extends 'admin/base.html.twig' %}

{% block page_header %}Админ{% endblock %}

{% block content %}
    <div class="column is-3">
        <h1 class="menu-label title is-4">Гостевая книга</h1>
        <br>
        <a class="btn btn-outline-success" href="{{ path('create_review') }}">Добавить отзыв</a>
        <br><hr>
    </div>
    <div>
        {% for review in reviews %}
            <ul>
                <li>Имя автора : {{ review.name }}</li>
                <li>Сообщение : {{ review.message }}</li>
                <li>Дата отзыва : {{ review.created|date("m/d/Y") }}</li>
                <li>
                    <a class="btn btn-outline-danger confirm-delete"
                       href="{{ path('remove_review',{id: review.id } ) }}">Удалить
                    </a>
                </li>
            </ul>
            <hr>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}